<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מברוק עליכ</title>
    <style>
        body {
            direction: rtl;
        }
        
        .container {
            width: 100%;
            font-family: 'Courier New', Courier, monospace;
            border-bottom: 2px solid rgb(200, 193, 193);
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        .col {
            text-transform: uppercase;
            font-size: large;
            font-weight: bold;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
        }
        
        .tableParent {
            height: 500px !important;
        }
        
        .item {
            width: 30%;
            border-bottom: 1px dotted rgb(148, 134, 134);
        }
        
        strong {
            font-size: 18px;
            font-weight: bold;
        }
        
        .value {
            inherits: none;
        }
        
        .containerProducts {
            padding: 0.5em;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
            display: block;
            margin-bottom: 1em;
        }
        
        .product {
            padding: 0.5em;
            background-color: rgb(201, 206, 212);
            color: rgba(255, 255, 255, 1);
            display: inline-block;
            margin-bottom: 3px;
        }
        
        .product_name {
            text-transform: uppercase;
            font-family: 'Courier New', Courier, monospace;
            font-size: large;
            color: black;
        }
        
        .product_image {
            width: 100%;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1>הצעת מחיר עבור השכרת ציוד /חינה </h1>
        <h3>לתאריך:
            <%= data.date%>
        </h3>
        <h3>עיר:
            <%= data.address%>
        </h3>
        <h3>נייד:
            <%= data.phone%>
        </h3>
        <% if(data.cartItems?.packages.length > 0){ %>
            <div class="item">
                <div class="col">
                    <strong> שם החבילה:</strong>
                    <%= data.cartItems.packages[0][0].package_name %>
                </div>
            </div>
            <div class="item">
                <div class="col">
                    <strong>דירוג:</strong>
                    <%= data.cartItems.packages[0][0].rate %>
                </div>
            </div>
            <div class="item">
                <div class="col">
                    <strong>תיאור:</strong>
                    <%= data.cartItems.packages[0][0].description %>
                </div>
            </div>

            <div class="containerProducts">
                <div class="item">
                    <div class="col">
                        פירוט מוצרים
                    </div>
                </div>
                <% data.cartItems.packages[0][0].products.forEach(product => { %>
                    <div class="product">
                        <div class="product_name">
                            <%= product.product_name %>
                        </div>
                        <div class="product_image">
                            <% var imageSrc = JSON.parse(product.images) %>
                                <img src=<%=imageSrc[0]%> width=200px height =150px />
                        </div>
                    </div>
                    <% })%>
            </div>

            <% }%>
    </div>
    <div class="container">
        <div class="item">
            <div class="col">
                פירוט מוצרים
            </div>
        </div>
        <% if(data.cartItems?.products.length > 0){ %>
            <div class="containerProducts">
                <% data.cartItems.products.forEach(product => { %>
                    <div class="product">
                        <div class="product_name">
                            <%= product.product_name %>
                        </div>
                        <div class="product_image">

                            <img src=<%=product.images[0]%> width=200px height =150px />
                        </div>
                    </div>
                    <% })%>
            </div>
            <% }%>
    </div>
</body>

</html>